<section class="advantages section-spacer">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<p class="decore-title last-word">
					Наши преимущества
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="advantages-row">

					<div class="advantages-cart">
						<div class="advantages-cart__icon">
							<svg class="icon icon-expand">
								<use xlink:href="assets/img/svg/symbol/sprite.svg#expand"></use>
							</svg>
						</div>
						<div class="advantages-cart__content">
							<div class="advantages-cart__title">
								<p>
									Бесплатный <br> выезд на замер
								</p>
							</div>
							<div class="advantages-cart__text">
								<p>
									выезд по Москве в пределах МКАД совершенно бесплатно для всех наших клиентов
								</p>
							</div>
						</div>
					</div>

					<div class="advantages-cart">
						<div class="advantages-cart__icon">
							<svg class="icon icon-rouble">
								<use xlink:href="assets/img/svg/symbol/sprite.svg#rouble"></use>
							</svg>
						</div>
						<div class="advantages-cart__content">
							<div class="advantages-cart__title">
								<p>
									Тестовая оклейка <br> стекла бесплатно
								</p>
							</div>
							<div class="advantages-cart__text">
								<p>
									Вы не заплатите ни копейки за полноценный тест-драйв нашей пленки
								</p>
							</div>
						</div>
					</div>

					<div class="advantages-cart">
						<div class="advantages-cart__icon">
							<svg class="icon icon-times">
								<use xlink:href="assets/img/svg/symbol/sprite.svg#times"></use>
							</svg>
						</div>
						<div class="advantages-cart__content">
							<div class="advantages-cart__title">
								<p>
									Бесплатный <br> демонтаж пленки
								</p>
							</div>
							<div class="advantages-cart__text">
								<p>
									удалим совершенно бесплатно старую пленку
								</p>
							</div>
						</div>
					</div>

					<div class="advantages-cart">
						<div class="advantages-cart__icon">
							<svg class="icon icon-calendar-check-o">
								<use xlink:href="assets/img/svg/symbol/sprite.svg#calendar-check-o"></use>
							</svg>
						</div>
						<div class="advantages-cart__content">
							<div class="advantages-cart__title">
								<p>
									Монтаж в удобный <br> для Вас день
								</p>
							</div>
							<div class="advantages-cart__text">
								<p>
									Монтаж в любое время года и в любую погоду
								</p>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>