<section class="connection section-bg section-spacer--inner">
	<div class="container">

		<div class="row">
			<div class=" col-12 title-center">
				<p class="decore-title decore-title--white last-word">
					Прямая линия с руководителем компании
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-5">
				<div class="connection__photo">
					<img src="/assets/img/feedback.png" alt="">
				</div>
			</div>
			<div class="col-lg-7">
				<div class="connection__contacts">
					<div class="connection__contacts--left">
						<a href="#" class="connection__phone">+7 (991) 401-32-11</a>
						<ul class="connection__messeger-list">
							<li>
								<a href="#">
									<svg class="icon icon-viber">
										<use xlink:href="assets/img/svg/symbol/sprite.svg#viber"></use>
									</svg>
								</a>
							</li>
							<li>
								<a href="#">
									<svg class="icon icon-telegram">
										<use xlink:href="assets/img/svg/symbol/sprite.svg#telegram"></use>
									</svg>
								</a>
							</li>
							<li>
								<a href="#">
									<svg class="icon icon-whatsapp">
										<use xlink:href="assets/img/svg/symbol/sprite.svg#whatsapp"></use>
									</svg>
								</a>
							</li>
						</ul>
					</div>
					<div class="connection__contacts--right">
						<p>
							Ежедневно с 9:00 до 21:00
							<a href="#">ruslan@tonirovka-na-okna.ru</a>
						</p>
					</div>
				</div>
				<div class="connection__quote">
					<p>
						<svg class="icon icon-quote-left">
							<use xlink:href="assets/img/svg/symbol/sprite.svg#quote-left"></use>
						</svg>
						Если у вас есть вопросы или вам требуется техническая консультация,<br> пожалуйста, выберите одну из форм
						обратной связи.<br> Я всегда приветливо, учтиво и понятно отвечу на все ваши вопросы.
						<span>Люкманов Руслан</span>
					</p>
				</div>
				<div class="connection__buttons">
					<button class="btn btn--gradient">Заказать звонок</button>
					<button class="btn btn--dark">Задать вопрос</button>
				</div>
			</div>
		</div>
	</div>

</section>