<section class="consultation section-spacer">
	<div class="container">
		<div class="row">
			<div class="col-12 title-center">
				<p class="decore-title last-word">
					Консультация специалиста
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6">
				<div class="pages_form two-column">
					{{> pages-form}}
				</div>
			</div>
			<div class="col-lg-6">
				<div class="consultant__text-block">
					<div class="consultant__text consultant__text--left">
						<svg class="icon icon-headphones">
							<use xlink:href="assets/img/svg/symbol/sprite.svg#headphones"></use>
						</svg>
						<p>
							Профессиональная консультация специалиста из отдела архитектуры и дизайна поможет вам принять верное
							решение при выборе подходящей пленки.

						</p>
					</div>
					<div class="consultant__text consultant__text--right">
						<svg class="icon icon-map">
							<use xlink:href="assets/img/svg/symbol/sprite.svg#map"></use>
						</svg>
						<p>
							Вы можете приехать на консультацию в наш офис.
							Мы обещаем парковочное место, вкусный кофе, сладости.
							Приезжайте, мы будем рады!

						</p>
						<a href="#">Наш адрес</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>