<footer class="footer section-spacer--inner">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-sm-6 order-lg-1 order-1">
				<div class="footer__logo">
					<a href="/">
						<img src="/assets/img/logo.png" alt="">
					</a>
					<div class="footer__slogan">
						<p>
							Профессиональная консультация специалиста из отдела архитектуры и дизайна поможет вам принять верное
							решение при выборе подходящей пленки.
						</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-6 order-lg-2 order-3">
				<div class="footer-menu">

					<ul>
						<li>
							<p class="footer-menu__title">
								Карта сайта
							</p>
						</li>
						<li><a href="#">Главная</a></li>
						<li><a href="#">Услуги</a></li>
						<li><a href="#">Акции</a></li>
						<li><a href="#">Портфолио</a></li>
						<li><a href="#">О компании</a></li>
						<li><a href="#">Новости</a></li>
						<li><a href="#">Статьи</a></li>
						<li><a href="#">Сертификаты</a></li>
						<li><a href="#">Доставка и оплата</a></li>
						<li><a href="#">Контакты</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-6 order-lg-3 order-4">
				<div class="footer-menu">

					<ul>
						<li>
							<p class="footer-menu__title">
								Каталог
							</p>
						</li>
						<li><a href="#">Где тонируем</a></li>
						<li><a href="#">Что тонируем</a></li>
						<li><a href="#">Зачем тонируем</a></li>
						<li><a href="#">Плёнки по цвету</a></li>
						<li><a href="#">Плёнки по типу</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 order-lg-4 order-2">
				<div class="footer-contact">
					<ul class="footer-phone__list">
						<li><a href="#">+7 (495) 619-62-53</a></li>
						<li><a href="#">+7 (991) 401-32-11</a></li>
					</ul>
					<div class="footer-info">
						<p>
							Ежедневно с 9:00 до 21:00 <br>
							ruslan@tonirovka-na-okna.ru <br>
							107497, г.Москва, Огородный <br>
							пр-д, д. 5, стр. 4, оф.303
						</p>
					</div>
					<div class="footer-social">
						<ul>
							<li>
								<a href="#">
									<svg class="icon icon-vk">
										<use xlink:href="assets/img/svg/symbol/sprite.svg#vk"></use>
									</svg>
									<span>VKontakte</span>
								</a>
							</li>
							<li>
								<a href="#">
									<svg class="icon icon-youtube">
										<use xlink:href="assets/img/svg/symbol/sprite.svg#youtube"></use>
									</svg>
									<span>YouTube</span>
								</a>
							</li>
							<li>
								<a href="#">
									<svg class="icon icon-instagram">
										<use xlink:href="assets/img/svg/symbol/sprite.svg#instagram"></use>
									</svg>
									<span>Instagram</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<svg style="width:0;height:0;position:absolute;" aria-hidden="true" focusable="false">
		<linearGradient id="my-cool-gradient" x1="0" y1="100%" x2="100%" y2="0">
			<stop offset="0%" stop-color="#0094dd" class="stop-1" />
			<stop offset="100%" stop-color="#b9ffea" class="stop-3" />
		</linearGradient>
	</svg>

</footer>

<div class="overlay"></div>
<div class="menu-swipe"></div>

<div class="mobile__menu">
	<div class="menu__wrapper">
		<button class="btn-close menu-btn-close">
			<svg class="icon icon-close">
				<use xlink:href="assets/img/svg/symbol/sprite.svg#close"></use>
			</svg>
		</button>
		<ul>
			<li class="dropdown">
				<a href="#">Каталог</a>
				<div class="mobile__hidden-menu">
					<ul>
						<li><a href="#">Где тонируем</a></li>
						<li><a href="#">Что тонируем</a></li>
						<li><a href="#">Зачем тонируем</a></li>
						<li><a href="#">Плёнки по цвету</a></li>
						<li><a href="#">Плёнки по типу</a></li>
					</ul>
				</div>
				<i></i>
			</li>
			<li class="dropdown"><a href="#">Услуги</a>
				<div class="mobile__hidden-menu">
					<ul>
						<li><a href="#">Где тонируем</a></li>
						<li><a href="#">Что тонируем</a></li>
						<li><a href="#">Зачем тонируем</a></li>
						<li><a href="#">Плёнки по цвету</a></li>
						<li><a href="#">Плёнки по типу</a></li>
					</ul>
				</div> <i></i>
			</li>
			<li><a href="#">Акции</a></li>
			<li><a href="#">Наши работы</a></li>
			<li><a href="#">Расчитать стоимость</a></li>
			<li><a href="#">Спец. предложения для Юр.лиц</a></li>
			<li><a href="#">О компании</a></li>
			<li><a href="#">Новости</a></li>
			<li class="dropdown"><a href="#">Статьи</a>
				<div class="mobile__hidden-menu">
					<ul>
						<li><a href="#">Где тонируем</a></li>
						<li><a href="#">Что тонируем</a></li>
						<li><a href="#">Зачем тонируем</a></li>
						<li><a href="#">Плёнки по цвету</a></li>
						<li><a href="#">Плёнки по типу</a></li>
					</ul>
				</div><i></i>
			</li>
			<li><a href="#">Сертификаты</a></li>
			<li><a href="#">Доставка и оплата</a></li>
			<li><a href="#">Контакты</a></li>
			<li><a href="#">FAQ</a></li>
		</ul>
	</div>
</div>