<section class="gallery-section">
	<div class="inner-section" style="background-image: url(/assets/img/backgrounds/gallery-section-bg.jpg)">
		<div class="title-box">
			<div class="sec-title centered">
				<div class="title-inner title-center">
					<p class="decore-title decore-title--white last-word">
						Наши объекты, затонированные с помощью данной плёнки
					</p>
				</div>
			</div>
		</div>
		<div class="carousel-box">
			<div class="auto-container">
				<div class="ms-caro3d-template">
					<div class="master-slider ms-skin-default" id="master-gallery-slider">
						<div class="ms-slide">
							<div class="content-layer">
								<div class="image">
									<div class="object-gallery_hover">
										<img src="/assets/img/objects-slider/slide.jpg" alt="" />
										<a data-fancybox="work-gallery" data-caption="klsajdf;la"
											href="/assets/img/objects-slider/slide.jpg" class="hover-zoom__icon">
											<svg class="icon icon-zoom">
												<use xlink:href="assets/img/svg/symbol/sprite.svg#zoom"></use>
											</svg>
										</a>
									</div>


								</div>
								<h4><a href="#">Лазертаг в ТЦ Весна</a></h4>
							</div>
						</div>
						<div class="ms-slide">
							<div class="content-layer">
								<div class="image">
									<div class="object-gallery_hover">
										<img src="/assets/img/objects-slider/slide.jpg" alt="" />
										<a data-fancybox="work-gallery" data-caption="klsajdf;la"
											href="/assets/img/objects-slider/slide.jpg" class="hover-zoom__icon">
											<svg class="icon icon-zoom">
												<use xlink:href="assets/img/svg/symbol/sprite.svg#zoom"></use>
											</svg>
										</a>
									</div>


								</div>
								<h4><a href="#">Лазертаг в ТЦ Весна</a></h4>
							</div>
						</div>
						<div class="ms-slide">
							<div class="content-layer">
								<div class="image">
									<div class="object-gallery_hover">
										<img src="/assets/img/objects-slider/slide.jpg" alt="" />
										<a data-fancybox="work-gallery" data-caption="klsajdf;la"
											href="/assets/img/objects-slider/slide.jpg" class="hover-zoom__icon">
											<svg class="icon icon-zoom">
												<use xlink:href="assets/img/svg/symbol/sprite.svg#zoom"></use>
											</svg>
										</a>
									</div>


								</div>
								<h4><a href="#">Лазертаг в ТЦ Весна</a></h4>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>