<header class="header">

	<div class="header__top-line">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="top-line__row">
						<ul class="top-line__menu">
							<li><a href="about.html">О компании</a></li>
							<li><a href="news.html">Новости</a></li>
							<li><a href="#">Статьи</a></li>
							<li><a href="sertificate.html">Сертификаты</a></li>
							<li><a href="#">Доставка и оплата</a></li>
							<li><a href="contacts.html">Контакты</a></li>
							<li><a href="#">FAQ</a></li>
						</ul>
						<div class="top-line__search">
							<form action="#" class="search-form">
								<button class="search-btn">
									<svg class="icon icon-search-icon">
										<use xlink:href="assets/img/svg/symbol/sprite.svg#search-icon"></use>
									</svg>
								</button>
								<input type="search" placeholder="Поиск ">
							</form>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

	<div class="header__middle-line">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="middle-line__row row">

						<div class="logo-block col">
							<a href="/">
								<picture>
									<source srcset="">
									<img src="/assets/img/logo.png">
								</picture>
							</a>
						</div>

						<div class="header__info-block header__info-block--adress col">
							<svg class="icon icon-map-locator">
								<use xlink:href="assets/img/svg/symbol/sprite.svg#map-locator"></use>
							</svg>
							<div>
								<p>
									г.Москва, Огородный пр-д,
								</p>
								<p>
									д. 5, стр. 4, оф.303
								</p>
							</div>
						</div>

						<div class="header__info-block header__info-block--opening-hours col">
							<svg class="icon icon-time">
								<use xlink:href="assets/img/svg/symbol/sprite.svg#time"></use>
							</svg>
							<div>
								<p>Пн-Пт</p>
								<p>9:00 - 18:00</p>
							</div>
						</div>

						<div class="header__info-block header__info-block--main col">
							<svg class="icon icon-envelope">
								<use xlink:href="assets/img/svg/symbol/sprite.svg#envelope"></use>
							</svg>
							<div>
								<p>
									<a href="#">
										ruslan@tonirovka-na-okna.ru
									</a>
								</p>
							</div>
						</div>

						<div class="header__info-block header__info-block--phone col">
							<svg class="icon icon-phone-call">
								<use xlink:href="assets/img/svg/symbol/sprite.svg#phone-call"></use>
							</svg>
							<svg class="icon icon-whatsapp">
								<use xlink:href="assets/img/svg/symbol/sprite.svg#whatsapp"></use>
							</svg>
							<div>
								<p>
									<a href="#">
										+7 (495) 619-62-53
									</a>
								</p>
								<p>
									<a href="#">
										+7 (991) 401-32-11
									</a>
								</p>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="header__bottom-line">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<nav>
						<ul>
							<li class="first level1 has-menu">
								<a href="#">
									Каталог
								</a>
								<div class="dropdown-menu">
									<ul>
										<li class="level2 "><a href="#">Где тонируем</a></li>
										<li class="has-menu level2 ">
											<a href="#">Что тонируем</a>
											<div class="dropdown-menu">
												<ul>
													<li>
														<a href="#">
															Фасады
														</a>
													</li>
													<li>
														<a href="#">
															Витрины
														</a>
													</li>
													<li>
														<a href="#">
															Офисные перегородки
														</a>
													</li>
													<li>
														<a href="#">
															Двери
														</a>
													</li>
													<li>
														<a href="#">
															Окна
														</a>
													</li>
												</ul>
											</div>
										</li>
										<li class="level2 "><a href="#">Зачем тонируем</a></li>
										<li class="level2 "><a href="#">Плёнки по цвету</a></li>
										<li class="has-menu level2">
											<a href="#">
												Плёнки по типу
											</a>
											<div class="dropdown-menu">
												<ul>
													<li>
														<a href="#">
															Фасады-2
														</a>
													</li>
													<li>
														<a href="#">
															Витрины-2
														</a>
													</li>
													<li>
														<a href="#">
															Офисные перегородки-2
														</a>
													</li>
													<li>
														<a href="#">
															Двери-2
														</a>
													</li>
													<li>
														<a href="#">
															Окна
														</a>
													</li>
												</ul>
											</div>
										</li>
									</ul>
								</div>
							</li>
							<li class="active"><a href="#">Услуги</a></li>
							<li><span>Акции</span></li>
							<li><a href="#">Наши работы</a></li>
							<li><a href="#">Расчитать стоимость</a></li>
							<li><a href="#">Спец. предложения для Юр.лиц</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>

	<div class="header__modile-line">
		<div class="container">
			<div class="row">

				<div class="col-6">
					<button class="gamburger__btn menu__toggle">
						<span></span>
					</button>
				</div>

				<div class="col-6 text-right">
					<button class="mobile__search-btn">

						<svg class="icon icon-search-icon">
							<use xlink:href="assets/img/svg/symbol/sprite.svg#search-icon"></use>
						</svg>
						<span>Поиск</span>
					</button>
				</div>

			</div>
		</div>
	</div>

</header>