<section class="important section-spacer">
	<div class="container">
		<div class="row">
			<div class="col-12 title-center">
				<p class="decore-title last-word">
					Это важно
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="important__content">
					<img src="/assets/img/important-img.jpg" alt="" class="border">
					<div class="content">
						<div class="important-strong">
							<p>
								Наша компания предлагает эффективные и доступные решения для объектов любой сложности — от тонировки
								балкона
								до многоэтажных зданий и высоток.
							</p>
						</div>
						<p>
							Архитектурная пленка для тонировки стекол отлично подойдет как для частных домов и квартир, так и для
							производственных и офисных зданий.
						</p>
						<p>
							<strong>ВАЖНО:</strong> Опасайтесь низких цен, это прежде всего ведет к низкокачественным материалам,
							которые бывают мутными или искажающими свет за счет неправильного и некачественного нанесения красящего
							слоя. Быстро выгорают, после чего вы рискуете получить бледный, неравномерный, цветной налет на стеклах.
							<br>

							А при не профессиональном тонировании, появляются пузыри с воздухом, пленка может отслаиваться в ходе
							эксплуатации, остаются зазоры и повреждения на поверхности пленки. <br>
							Обращаясь к компании ЗаСтеклом вы можете довериться и не беспокоиться о качестве выполненных работ,
							мы заинтересованы в качестве — это прежде всего репутация нашей компании и ваши рекомендации.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>