<section class="pages-top " style="background-image: url(/assets/img/backgrounds/pages-bg.jpg);">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1 class="pages-title">
					Атермальная плёнка
				</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<ul class="breadcrumbs">
					<li><a href="#">Главная</a></li>
					<li>-</li>
					<li><a href="#">Плёнки по типу</a></li>
					<li>-</li>
					<li><span>Атермальная плёнка</span></li>
				</ul>
			</div>
		</div>
	</div>
</section>