<section class="s-quiz" style="background-image: url('/assets/img/backgrounds/quiz-bg.jpg')">
	<div class="container">
		<div class="row">
			<div class="col-12 title-center has-subtitle">
				<p class="decore-title last-word">Не определились с видом плёнки?</p>
				<p>
					Ответьте на 6 вопросов и получите подбор пленки и расчет стоимости работ под ключ в трех<br> вариантах под
					ваши задачи и забронируйте скидку 10%!
				</p>
			</div>
		</div>
		<form class="quiz-form">

			<div class="quiz__step active ">
				<div class="quiz__title">Шаг 1/7 Для какого объекта нужна тонировка?</div>
				<div class="quiz__content">
					<div class="row justify-content-center">
						<div class="d-flex justify-content-center mb-30 col-lg-2 col-md-4 col-sm-6">
							<div class="quiz__images-input">
								<label>
									<input class="default-field" type="checkbox">
									<div class="custom__input">
										<div class="img-border">
											<img src="/assets/img/quiz-1.jpg" alt="">
										</div>
										<p class="input__title">
											Тонировка фасада здания
										</p>
									</div>
								</label>
							</div>
						</div>
						<div class="d-flex justify-content-center mb-30 col-lg-2 col-md-4 col-sm-6">
							<div class="quiz__images-input">
								<label>
									<input class="default-field" type="checkbox">
									<div class="custom__input">
										<div class="img-border">
											<img src="/assets/img/quiz-1.jpg" alt="">
										</div>
										<p class="input__title">
											Тонировка фасада здания
										</p>
									</div>
								</label>
							</div>
						</div>
						<div class="d-flex justify-content-center mb-30 col-lg-2 col-md-4 col-sm-6">
							<div class="quiz__images-input">
								<label>
									<input class="default-field" type="checkbox">
									<div class="custom__input">
										<div class="img-border">
											<img src="/assets/img/quiz-1.jpg" alt="">
										</div>
										<p class="input__title">
											Тонировка фасада здания
										</p>
									</div>
								</label>
							</div>
						</div>
						<div class="d-flex justify-content-center mb-30 col-lg-2 col-md-4 col-sm-6">
							<div class="quiz__images-input">
								<label>
									<input class="default-field" type="checkbox">
									<div class="custom__input">
										<div class="img-border">
											<img src="/assets/img/quiz-1.jpg" alt="">
										</div>
										<p class="input__title">
											Тонировка фасада здания
										</p>
									</div>
								</label>
							</div>
						</div>
						<div class="d-flex justify-content-center mb-30 col-lg-2 col-md-4 col-sm-6">
							<div class="quiz__images-input">
								<label>
									<input class="default-field" type="checkbox">
									<div class="custom__input">
										<div class="img-border">
											<img src="/assets/img/quiz-1.jpg" alt="">
										</div>
										<p class="input__title">
											Тонировка фасада здания
										</p>
									</div>
								</label>
							</div>
						</div>
						<div class="d-flex justify-content-center mb-30 col-lg-2 col-md-4 col-sm-6">
							<div class="quiz__images-input">
								<label>
									<input class="default-field" type="checkbox">
									<div class="custom__input">
										<div class="img-border">
											<img src="/assets/img/quiz-1.jpg" alt="">
										</div>
										<p class="input__title">
											Тонировка фасада здания
										</p>
									</div>
								</label>
							</div>
						</div>
					</div>
				</div>
				<div class="quiz__action">
					<button type="button" class="btn btn--gradient btn--white-hover">
						Далее
					</button>
				</div>
			</div>

			<div class="quiz__step active">
				<div class="quiz__title">Шаг 2/7 Для каких целей Вы планируете произвести тонирование? Можно выбрать несколько
					ответов.</div>
				<div class="quiz__content">
					<div class="row justify-content-center">
						<div class="col-12">
							<div class="quiz__row w-20">
								<div class="quiz__checkbox-item">
									<label>
										<input class="default-field" type="checkbox">
										<div class="custom__input">
											<span class="custom__checkbox">
												<svg class="icon icon-check">
													<use xlink:href="assets/img/svg/symbol/sprite.svg#check"></use>
												</svg>
											</span>
											<span class="custom__checkbox-title">
												Коммерческий заказ
											</span>
										</div>
									</label>
								</div>
								<div class="quiz__checkbox-item">
									<label>
										<input class="default-field" type="checkbox">
										<div class="custom__input">
											<span class="custom__checkbox">
												<svg class="icon icon-check">
													<use xlink:href="assets/img/svg/symbol/sprite.svg#check"></use>
												</svg>
											</span>
											<span class="custom__checkbox-title">
												Скрыть обзор помещения снаружи
											</span>
										</div>
									</label>
								</div>
								<div class="quiz__checkbox-item">
									<label>
										<input class="default-field" type="checkbox">
										<div class="custom__input">
											<span class="custom__checkbox">
												<svg class="icon icon-check">
													<use xlink:href="assets/img/svg/symbol/sprite.svg#check"></use>
												</svg>
											</span>
											<span class="custom__checkbox-title">
												Спасти вещи в помещениии от выгорания
											</span>
										</div>
									</label>
								</div>
								<div class="quiz__checkbox-item">
									<label>
										<input class="default-field" type="checkbox">
										<div class="custom__input">
											<span class="custom__checkbox">
												<svg class="icon icon-check">
													<use xlink:href="assets/img/svg/symbol/sprite.svg#check"></use>
												</svg>
											</span>
											<span class="custom__checkbox-title">
												Другое
											</span>
										</div>
									</label>
								</div>
								<div class="quiz__checkbox-item">
									<label>
										<input class="default-field" type="checkbox">
										<div class="custom__input">
											<span class="custom__checkbox">
												<svg class="icon icon-check">
													<use xlink:href="assets/img/svg/symbol/sprite.svg#check"></use>
												</svg>
											</span>
											<span class="custom__checkbox-title">
												Спастись от жары (солнечная сторона)
											</span>
										</div>
									</label>
								</div>
								<div class="quiz__checkbox-item">
									<label>
										<input class="default-field" type="checkbox">
										<div class="custom__input">
											<span class="custom__checkbox">
												<svg class="icon icon-check">
													<use xlink:href="assets/img/svg/symbol/sprite.svg#check"></use>
												</svg>
											</span>
											<span class="custom__checkbox-title">
												Избавиться от бликов
											</span>
										</div>
									</label>
								</div>
								<div class="quiz__checkbox-item">
									<label>
										<input class="default-field" type="checkbox">
										<div class="custom__input">
											<span class="custom__checkbox">
												<svg class="icon icon-check">
													<use xlink:href="assets/img/svg/symbol/sprite.svg#check"></use>
												</svg>
											</span>
											<span class="custom__checkbox-title">
												Защита от ударов
											</span>
										</div>
									</label>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="quiz__action">
					<button type="button" class="btn btn--white">
						Назад
					</button>
					<button type="button" class="btn btn--gradient btn--white-hover">
						Далее
					</button>
				</div>
			</div>

			<div class="quiz__step active">
				<div class="quiz__title">3/7 Укажите количество стекол для тонирования или примерную площадь.</div>
				<div class="quiz__content">
					<div class="row">
						<div class="col-4 offset-2">
							<p class="quiz_titles">
								Введите примерную общую площадь
							</p>
							<ul class="quiz__radio-list">
								<li>
									<label>
										<input type="radio" name="ton-area" class="default-field">
										<div class="custom__input">
											<span class="custom__radio"></span>
											<span class="custom__radio-title">
												До 10 кв. м.
											</span>
										</div>
									</label>
								</li>
								<li>
									<label>
										<input type="radio" name="ton-area" class="default-field">
										<div class="custom__input">
											<span class="custom__radio"></span>
											<span class="custom__radio-title">
												До 20 кв. м.
											</span>
										</div>
									</label>
								</li>
								<li>
									<label>
										<input type="radio" name="ton-area" class="default-field">
										<div class="custom__input">
											<span class="custom__radio"></span>
											<span class="custom__radio-title">
												До 30 кв. м.
											</span>
										</div>
									</label>
								</li>
								<li>
									<label>
										<input type="radio" name="ton-area" class="default-field">
										<div class="custom__input">
											<span class="custom__radio"></span>
											<span class="custom__radio-title">
												До 50 кв. м.
											</span>
										</div>
									</label>
								</li>
								<li>
									<label>
										<input type="radio" name="ton-area" class="default-field">
										<div class="custom__input">
											<span class="custom__radio"></span>
											<span class="custom__radio-title">
												До 100 кв. м.
											</span>
										</div>
									</label>
								</li>
								<li>
									<label>
										<input type="radio" name="ton-area" class="default-field">
										<div class="custom__input">
											<span class="custom__radio"></span>
											<span class="custom__radio-title">
												Более 100 кв. м.
											</span>
										</div>
								</li>
								</label>
							</ul>
							<label class="user-variant">
								<span class="user-variant__title">
									Свой вариант ответа
								</span>
								<input type="text">
							</label>
						</div>
						<div class="col-4">
							<p class="quiz_titles">
								Или введите количество стёкол
							</p>
							<ul class="quiz__radio-list">
								<li>
									<label>
										<input type="radio" name="ton-area" class="default-field">
										<div class="custom__input">

											<span class="custom__radio"></span>
											<span class="custom__radio-title">
												1 стекло
											</span>
										</div>
									</label>
								</li>
								<li>
									<label>
										<input type="radio" name="ton-area" class="default-field">
										<div class="custom__input">
											<span class="custom__radio"></span>
											<span class="custom__radio-title">
												2 стекла
											</span>
										</div>
									</label>
								</li>
								<li>
									<label>
										<input type="radio" name="ton-area" class="default-field">
										<div class="custom__input">
											<span class="custom__radio"></span>
											<span class="custom__radio-title">
												3 стекла
											</span>
										</div>
									</label>
								</li>
								<li>
									<label>
										<input type="radio" name="ton-area" class="default-field">
										<div class="custom__input">
											<span class="custom__radio"></span>
											<span class="custom__radio-title">
												4 стекла
											</span>
										</div>
									</label>
								</li>
								<li>
									<label>
										<input type="radio" name="ton-area" class="default-field">
										<div class="custom__input">
											<span class="custom__radio"></span>
											<span class="custom__radio-title">
												5 стёкол
											</span>
										</div>
									</label>
								</li>
								<li>
									<label>
										<input type="radio" name="ton-area" class="default-field">
										<div class="custom__input">
											<span class="custom__radio"></span>
											<span class="custom__radio-title">
												Более 5 стёкол
											</span>
										</div>
									</label>
								</li>
							</ul>
							<label class="user-variant">
								<span class="user-variant__title">
									Свой вариант ответа
								</span>
								<input type="text">
							</label>
						</div>

					</div>

				</div>
				<div class="quiz__action">
					<button type="button" class="btn btn--white">
						Назад
					</button>
					<button type="button" class="btn btn--gradient btn--white-hover">
						Далее
					</button>
				</div>
			</div>

			<div class="quiz__step active">
				<div class="quiz__title">Шаг 4/7 Есть ли решётки на окнах или другие сложности с доступом?</div>
				<div class="quiz__content">
					<div class="row justify-content-center">
						<div class="col-12">
							<div class="quiz__row w-100">
								<div class="quiz__row-wrapper">
									<div class="quiz__checkbox-item">
										<label>
											<input class="default-field" type="checkbox">
											<div class="custom__input">
												<span class="custom__checkbox">
													<svg class="icon icon-check">
														<use xlink:href="assets/img/svg/symbol/sprite.svg#check"></use>
													</svg>
												</span>
												<span class="custom__checkbox-title">
													Нет
												</span>
											</div>
										</label>
									</div>
									<div class="quiz__checkbox-item">
										<label>
											<input class="default-field" type="checkbox">
											<div class="custom__input">
												<span class="custom__checkbox">
													<svg class="icon icon-check">
														<use xlink:href="assets/img/svg/symbol/sprite.svg#check"></use>
													</svg>
												</span>
												<span class="custom__checkbox-title">
													Да, есть решётки
												</span>
											</div>
										</label>
									</div>
									<div class="quiz__checkbox-item">
										<label>
											<input class="default-field" type="checkbox">
											<div class="custom__input">
												<span class="custom__checkbox">
													<svg class="icon icon-check">
														<use xlink:href="assets/img/svg/symbol/sprite.svg#check"></use>
													</svg>
												</span>
												<span class="custom__checkbox-title">
													Другие сложности
												</span>
											</div>
										</label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="quiz__action">
					<button type="button" class="btn btn--white">
						Назад
					</button>
					<button type="button" class="btn btn--gradient btn--white-hover">
						Далее
					</button>
				</div>
			</div>

			<div class="quiz__step active">
				<div class="quiz__title">Шаг 5/7 Как Вам удобно получить результаты расчёта?</div>
				<div class="quiz__content">
					<div class="row justify-content-center">
						<div class="col-12">
							<div class="quiz__row">

								<ul class="quiz__row-list">
									<li>
										<div class="quiz__checkbox-item">
											<label>
												<input class="default-field" type="checkbox">
												<div class="custom__input">
													<span class="custom__checkbox">
														<svg class="icon icon-check">
															<use xlink:href="assets/img/svg/symbol/sprite.svg#check"></use>
														</svg>
													</span>
													<span class="custom__checkbox-title">
														Консультация по телефоны
													</span>
												</div>
											</label>
										</div>
									</li>
									<li>
										<div class="quiz__checkbox-item">
											<label>
												<input class="default-field" type="checkbox">
												<div class="custom__input">
													<span class="custom__checkbox">
														<svg class="icon icon-check">
															<use xlink:href="assets/img/svg/symbol/sprite.svg#check"></use>
														</svg>
													</span>
													<span class="custom__checkbox-title">
														СМС на телефон
													</span>
												</div>
											</label>
										</div>
									</li>
									<li>
										<div class="quiz__checkbox-item">
											<label>
												<input class="default-field" type="checkbox">
												<div class="custom__input">
													<span class="custom__checkbox">
														<svg class="icon icon-check">
															<use xlink:href="assets/img/svg/symbol/sprite.svg#check"></use>
														</svg>
													</span>
													<span class="custom__checkbox-title">
														Сообщение на Whats App
													</span>
												</div>
											</label>
										</div>
									</li>
									<li>
										<div class="quiz__checkbox-item">
											<label>
												<input class="default-field" type="checkbox">
												<div class="custom__input">
													<span class="custom__checkbox">
														<svg class="icon icon-check">
															<use xlink:href="assets/img/svg/symbol/sprite.svg#check"></use>
														</svg>
													</span>
													<span class="custom__checkbox-title">
														Сообщение на Viber
													</span>
												</div>
											</label>
										</div>
									</li>
									<li>
										<div class="quiz__checkbox-item">
											<label>
												<input class="default-field" type="checkbox">
												<div class="custom__input">
													<span class="custom__checkbox">
														<svg class="icon icon-check">
															<use xlink:href="assets/img/svg/symbol/sprite.svg#check"></use>
														</svg>
													</span>
													<span class="custom__checkbox-title">
														По электронной почте
													</span>
												</div>
											</label>
										</div>
									</li>

								</ul>

							</div>
						</div>
					</div>
				</div>
				<div class="quiz__action">
					<button type="button" class="btn btn--white">
						Назад
					</button>
					<button type="button" class="btn btn--gradient btn--white-hover">
						Далее
					</button>
				</div>
			</div>

			<div class="quiz__step active">
				<div class="quiz__title">Шаг 6/7 Для какого объекта нужна тонировка?</div>
				<div class="quiz__content i-3">
					<div class="row ">
						<div class="col-lg-10 offset-lg-1 d-flex justify-content-around">
							<div class="d-flex justify-content-center mb-30 ">
								<div class="quiz__images-input">
									<label>
										<input class="default-field" type="checkbox">
										<div class="custom__input">
											<div class="img-border">
												<img src="/assets/img/quiz-1.jpg" alt="">
											</div>
											<p class="input__title">
												Тонировка фасада здания
											</p>
										</div>
									</label>
								</div>
							</div>
							<div class="d-flex justify-content-center mb-30 ">
								<div class="quiz__images-input">
									<label>
										<input class="default-field" type="checkbox">
										<div class="custom__input">
											<div class="img-border">
												<img src="/assets/img/quiz-1.jpg" alt="">
											</div>
											<p class="input__title">
												Тонировка фасада здания
											</p>
										</div>
									</label>
								</div>
							</div>
							<div class="d-flex justify-content-center mb-30">
								<div class="quiz__images-input">
									<label>
										<input class="default-field" type="checkbox">
										<div class="custom__input">
											<div class="img-border">
												<img src="/assets/img/quiz-1.jpg" alt="">
											</div>
											<p class="input__title">
												Тонировка фасада здания
											</p>
										</div>
									</label>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="quiz__action">
					<button type="button" class="btn btn--white">
						Назад
					</button>
					<button type="button" class="btn btn--gradient btn--white-hover">
						Далее
					</button>
				</div>
			</div>

			<div class="quiz__step active">
				<div class="quiz__title">Шаг 7/7 Укажите ваши контактные данные для предоставления расчётов</div>
				<div class="quiz__content">
					<div class="row mb-20">
						<div class="offset-lg-3 col-lg-3 col-sm-6">
							<fieldset><input type="text" placeholder="Имя*"></fieldset>
							<fieldset><input type="text" placeholder="Телефон*"></fieldset>
							<fieldset><input type="text" placeholder="Email"></fieldset>
						</div>
						<div class="col-lg-3 col-sm-6"><textarea placeholder="Комментарий"></textarea></div>
					</div>

					<div class="igree mb-30">
						<p>
							Нажимая на кнопку Вы даёте согласие на обработку персональных данных
						</p>

					</div>
				</div>
				<div class="quiz__action">
					<button type="button" class="btn btn--white">
						Назад
					</button>
					<button type="button" class="btn btn--gradient btn--white-hover">
						Отправить
					</button>
				</div>
			</div>

		</form>
	</div>
</section>