<section class="brands-slider recomendation section-spacer">
	<div class="container">
		<div class="row">
			<div class="col-12 title-center">
				<p class="decore-title last-word">
					Мы используем плёнки, которые себя зарекомендовали
				</p>
			</div>
		</div>
		<div class="row">
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<img src="assets/img/brands/brand-1.png" alt="">
					</div>
					<div class="swiper-slide">
						<img src="assets/img/brands/brand-2.png" alt="">
					</div>
					<div class="swiper-slide">
						<img src="assets/img/brands/brand-3.png" alt="">
					</div>
					<div class="swiper-slide">
						<img src="assets/img/brands/brand-4.png" alt="">
					</div>
				</div>
			</div>

			{{> arrows }}

		</div>
	</div>
</section>