<section class="section-advantages section-spacer">
	<div class="container">
		<div class="row">
			<div class="col-12 title-center has-subtitle">
				<p class="decore-title last-word">
					Преимущества атермальной плёнки
				</p>
				<p>
					Современная и качественная виниловая пленка для тонировки практический любых поверхностей имеет массу
					преимуществ.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="section-advantages__item">
				<svg class="icon icon-check-gr">
					<use xlink:href="assets/img/svg/symbol/sprite.svg#check"></use>
				</svg>
				<div class="section-advantages__title">
					<p>
						Не портит стёкла
					</p>
				</div>
				<div class="section-advantages__text">
					<p>
						Качественная виниловая пленка не испортит поверхность
					</p>
				</div>
			</div>


			<div class="section-advantages__item">
				<svg class="icon icon-check-gr">
					<use xlink:href="assets/img/svg/symbol/sprite.svg#check"></use>
				</svg>
				<div class="section-advantages__title">
					<p>
						100% экологично
					</p>
				</div>
				<div class="section-advantages__text">
					<p>
						В составе только экологичные и гипоаллергенные материалы.
					</p>
				</div>
			</div>


			<div class="section-advantages__item">
				<svg class="icon icon-check-gr">
					<use xlink:href="assets/img/svg/symbol/sprite.svg#check"></use>
				</svg>
				<div class="section-advantages__title">
					<p>
						Наносится на любые виды поверхностей
					</p>
				</div>
				<div class="section-advantages__text">
					<p>
						На стеклянные, деревянные и пластиковые поверхности
					</p>
				</div>
			</div>


			<div class="section-advantages__item">
				<svg class="icon icon-check-gr">
					<use xlink:href="assets/img/svg/symbol/sprite.svg#check"></use>
				</svg>
				<div class="section-advantages__title">
					<p>
						Не портит стёкла
					</p>
				</div>
				<div class="section-advantages__text">
					<p>
						Качественная виниловая пленка не испортит поверхность
					</p>
				</div>
			</div>

		</div>
	</div>
</section>