<section class="sertificate-slider">
	<div class="container">
		<div class="row">
			<div class="col-12 title-center">
				<p class="decore-title decore-title--white last-word">
					Качество материалов подтверждено сертификатами
				</p>
			</div>
		</div>
		<div class="row">
			<div class="swiper-container">
				<div class="swiper-wrapper">

					<div class="swiper-slide">
						<div class="hover-zoom">

							<div class="hover-zoom__overlay">
								<img src="/assets/img/sertificate/sertificate-1.jpg" alt="">
								<ul class="hover-zoom__link">
									<li>
										<a data-fancybox="work-gallery" data-caption="klsajdf;la"
											href="/assets/img/sertificate/sertificate-1.jpg" class="hover-zoom__icon">
											<svg class="icon icon-zoom">
												<use xlink:href="assets/img/svg/symbol/sprite.svg#zoom"></use>
											</svg>
										</a>
									</li>
								</ul>
							</div>

						</div>
					</div>

					<div class="swiper-slide">
						<div class="hover-zoom">

							<div class="hover-zoom__overlay">
								<img src="/assets/img/sertificate/sertificate-1.jpg" alt="">
								<ul class="hover-zoom__link">
									<li>
										<a data-fancybox="work-gallery" data-caption="klsajdf;la"
											href="/assets/img/sertificate/sertificate-1.jpg" class="hover-zoom__icon">
											<svg class="icon icon-zoom">
												<use xlink:href="assets/img/svg/symbol/sprite.svg#zoom"></use>
											</svg>
										</a>
									</li>
								</ul>
							</div>

						</div>
					</div>

					<div class="swiper-slide">
						<div class="hover-zoom">

							<div class="hover-zoom__overlay">
								<img src="/assets/img/sertificate/sertificate-1.jpg" alt="">
								<ul class="hover-zoom__link">
									<li>
										<a data-fancybox="work-gallery" data-caption="klsajdf;la"
											href="/assets/img/sertificate/sertificate-1.jpg" class="hover-zoom__icon">
											<svg class="icon icon-zoom">
												<use xlink:href="assets/img/svg/symbol/sprite.svg#zoom"></use>
											</svg>
										</a>
									</li>
								</ul>
							</div>

						</div>
					</div>

					<div class="swiper-slide">
						<div class="hover-zoom">

							<div class="hover-zoom__overlay">
								<img src="/assets/img/sertificate/sertificate-1.jpg" alt="">
								<ul class="hover-zoom__link">
									<li>
										<a data-fancybox="work-gallery" data-caption="klsajdf;la"
											href="/assets/img/sertificate/sertificate-1.jpg" class="hover-zoom__icon">
											<svg class="icon icon-zoom">
												<use xlink:href="assets/img/svg/symbol/sprite.svg#zoom"></use>
											</svg>
										</a>
									</li>
								</ul>
							</div>

						</div>
					</div>

					<div class="swiper-slide">
						<div class="hover-zoom">

							<div class="hover-zoom__overlay">
								<img src="/assets/img/sertificate/sertificate-1.jpg" alt="">
								<ul class="hover-zoom__link">
									<li>
										<a data-fancybox="work-gallery" data-caption="klsajdf;la"
											href="/assets/img/sertificate/sertificate-1.jpg" class="hover-zoom__icon">
											<svg class="icon icon-zoom">
												<use xlink:href="assets/img/svg/symbol/sprite.svg#zoom"></use>
											</svg>
										</a>
									</li>
								</ul>
							</div>

						</div>
					</div>


				</div>
			</div>

			{{> arrows }}

		</div>
	</div>
</section>