<section class="steps section-spacer">
	<div class="container">
		<div class="row">
			<div class="col-12 title-center">
				<p class="decore-title last-word">
					Этапы работы
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8">
				<div class="steps__list">

					<div class="steps__item">
						<div class="steps__count">
							<span>1</span>
						</div>
						<p class="steps__title">
							Подбор оптимальной пленки
						</p>
						<p class="steps__text">
							Подбор плёнки под ваши задачи, подбор технологии изготовления плёнки, разработка дизайна плёнки
						</p>
					</div>

					<div class="steps__item">
						<div class="steps__count">
							<span>2</span>
						</div>
						<p class="steps__title">
							Замер
						</p>
						<p class="steps__text">
							Подбор плёнки под ваши задачи, подбор технологии изготовления плёнки, разработка дизайна плёнки
						</p>
					</div>

					<div class="steps__item">
						<div class="steps__count">
							<span>3</span>
						</div>
						<p class="steps__title">
							Доставка
						</p>
						<p class="steps__text">
							Подбор плёнки под ваши задачи, подбор технологии изготовления плёнки, разработка дизайна плёнки
						</p>
					</div>

					<div class="steps__item">
						<div class="steps__count">
							<span>4</span>
						</div>
						<p class="steps__title">
							Монтаж
						</p>
						<p class="steps__text">
							Подбор плёнки под ваши задачи, подбор технологии изготовления плёнки, разработка дизайна плёнки
						</p>
					</div>

				</div>
			</div>
			<div class="col-lg-4">
				<img class="img-center" src="/assets/img/backgrounds/steps-bg.png" alt="">
			</div>
		</div>
	</div>
</section>