<section class="video section-spacer">
	<div class="container">
		<div class="row">

			<div class="col-lg-6">
				<a class="video-link" data-fancybox href="https://www.youtube.com/watch?v=wza_1tr6CfU">
					<img src="/assets/img/video-bg.jpg" alt="">
					<div class="video-icon">
						<svg class="icon icon-video-icon">
							<use xlink:href="assets/img/svg/symbol/sprite.svg#video-icon"></use>
						</svg>
					</div>
				</a>
			</div>

			<div class="col-lg-6">

				<p class="decore-title last-word">
					Залог успеха нашей компании
				</p>
				<div class="video__text">
					<ul>
						<li>
							<p>
								Пленки поставляются от лучших производителей Европы, США и Китая
							</p>
						</li>
						<li>
							<p>
								С Вами работают только высококвалифицированные специалисты с опытом работы в данной сфере более 7 лет
							</p>
						</li>
						<li>
							<p>
								Отточенная годами технология
							</p>
						</li>
						<li>
							<p>
								Лидер по сервису: бесплатный замер и тестовая оклейка, выбор удобного времени для проведения работ,
								бесплатный демонтаж старой пленки и многое другое.
							</p>
						</li>
					</ul>
					<p>
						Мы уделяем большое внимание даже самым мелким деталям, потому что для нас качество — это не просто слово.
						Уровень профессионализма должен отражаться и в самых мелких элементах на которые многие закрывают глаза.
					</p>
					<button class="btn btn--gradient">Заказать звонок</button>
				</div>
			</div>

		</div>
	</div>
</section>