<div class="hover-zoom">
	<div class="hover-zoom__overlay">
		<img src="/assets/img/work-gallery/small/principles-bg.jpg" alt="">
		<span class="hover-zoom__title">
			Бизнес центр «Сибирь»
		</span>
		<ul class="hover-zoom__link">
			<li>
				<a data-fancybox="work-gallery" data-caption="klsajdf;la" href="/assets/img/work-gallery/big/principles-bg.jpg"
					class="hover-zoom__icon">
					<svg class="icon icon-zoom">
						<use xlink:href="assets/img/svg/symbol/sprite.svg#zoom"></use>
					</svg>
				</a>
			</li>
			<li>
				<a href="#" class="hover-zoom__icon">
					<svg class="icon icon-look">
						<use xlink:href="assets/img/svg/symbol/sprite.svg#look"></use>
					</svg>
				</a>

			</li>
		</ul>



	</div>
</div>